
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Showcase: Arthur Dickerson, Interactive Matter / Imagineering</title>
  <link rel="stylesheet" href="/css/fonts.css">
  
  
  <link rel="stylesheet" href="/css/standardize.css">
  <link rel="stylesheet" href="/css/index-grid.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body class="body index clearfix">
  <header class="_container-1 clearfix">
    <img class="image image-1" src="/images/name_title.png" data-rimage data-src="/images/name_title.png">
    <img class="image image-2" src="/images/corp_badge.png" data-rimage data-src="/images/corp_badge.png">
  </header>
  


  <div class="introduction">
    <img class="image" src="/images/Swiss-army-knife.png" data-rimage data-src="/images/Swiss-army-knife.png">
    <p class="text">In May of 2006, I was asked to join three of my new collegues at a small ceremony, held at the first corporate headquarters of Empathy Lab - then, a young but energetic web agency in suburban Phialadelphia. <br><br>Each of us was presented with a knife, a symbol of our cutting away from our previous agencies and employers. Each implement presented was unique - reflecting the strengths, capabilties and prowess of its owner. <br><br>My knife was a Swiss Army Knife, an adaptable and flexible tool, more than just an edge that cuts...built to be useful in many scenarios.
<br><br>&nbsp; Looking over my body of work from the last decade in design, production, prototyping, service design and interaction, I like to think I have kept the quiet promise of this gift which still graces my workspace today: flexible, adapatable, with apptitudes beyond any single discipline. <br><br><br></p>
  </div>
  

  



  <div class="brand_cloud_container">
    <img class="image image-4" src="/images/logo_cloud.png" data-rimage data-src="/images/logo_cloud.png">
    <div class="brand_cloud_desc clearfix">
      <img class="image" src="/images/horiz_pinline.png" data-rimage data-src="/images/horiz_pinline.png">
      <p class="text text-8">And these are just the hits from the last 3 years!</p>
      <p class="text text-9">I have been fortunate enough to engage in a wide variety of front-end projects, many of which covered multiple deliverables including branding, interaction & visual design, production and deployment. As a swiss army knife - I present for your review the projects that had the highest "fun factor". A lot of what you see here are internal EPAM projects, mixed with a few high-level pre-sales opportunities and a competion-winning submission to Citibank. <br><br><br>Also included for your perusal is a strong showing from my after hours exploits including: a high school, an upscale cafe, a surfer, visuals from a book I am writing, an Athletics club, and what portfolio would be complete without at least one start-up! The most recent work appears first, with more archival works towards the bottom - all told your are looking at over 10 years of design work, thought, blood, sweat, and more than a few sleepless nights. <br><br><br></p>
      
    </div>
  </div>




  <div class="light_project_container">
      <a href="/images/fullsize/fullsize_expo.jpg" target="new"><img class="image" src="/images/expo_image_block.png" data-rimage data-src="/images/expo_image_block.png"></a>
          <div class="metablock clearfix"> <!-- meta block display -->
                          
                <div class="projecttitle">
                  <p class="colorLightGray">Project</p>
                  <p class="colorDarkGray">Expo</p>
                </div>
                <div class="projectengagement">
                  <p class="colorLightGray">Engagement</p>
                  <p class="colorDarkGray">Visual Design<br>Interaction Design<br>iOS Prototype</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorLightGray">Description
                                </span>
                          
                                <span class="colorDarkGray">
                                    <p>
                                      One of the first projects I was able to work on shortly before joining the mobile competency center was the mobile application that would accompany the SEC conference. The brief was a modern spin on attendee location, session management and schedule publication, with an emphasis on social elements - such as favorites, comments and session feedback. 
                                    </p>

                                    <p class="pDown">This prototype was designed and constructed over a 3 week period.</p>
                                </span>
                        </div>
                          
                </div> <!-- End meta block display-->

  </div>




<!-- IMAX -->
  
   <div class="project_container_dark">
    
      <a href="/images/fullsize/fullsize_imax.jpg" target="new"><img class="image" src="/images/IMAX_explore_v1.png" data-rimage data-src="/images/IMAX_explore_v1.png"></a>
      
      <div class="metablock clearfix"> <!-- meta block display -->
                
                <div class="projecttitle">
                  <p class="colorMiddleGray">Project</p>
                  <p class="colorLightGray">IMAX design support</p>
                </div>
                <div class="projectengagement">
                  <p class="colorMiddleGray">Engagement</p>
                  <p class="colorLightGray">Visual Design</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorMiddleGray">Description
                                </span>
                          
                                <span class="colorLightGray">
                                    <p>
                                      I was tasked with producing several supplemental templates that followed a previously established visual language. While I was able to quickly provide the client with the needed visuals, I took the opportunity to provide an alterantive vision that better reflected the IMAX Private Theater brand. 
                                    </p>

                                    <p class="pDown">These designs were meant to feel immersive, environmental and engaging, and while the client was impressed with their impact, the body of work remained outside the development stream.</p>
                                <span>
                        </div>
                
      </div> <!-- End meta block display-->
    </div>








<!-- People.epam.com -->

 <div class="light_project_container">
      <a href="/images/fullsize/fullsize_people.jpg" target="new"><img class="image" src="/images/people_epam_com.png" data-rimage data-src="/images/people_epam_com.png"></a>
          <div class="metablock clearfix"> <!-- meta block display -->
                          
                <div class="projecttitle">
                  <p class="colorLightGray">Project</p>
                  <p class="colorDarkGray">People.epam.com</p>
                </div>
                <div class="projectengagement">
                  <p class="colorLightGray">Engagement</p>
                  <p class="colorDarkGray">Visual Design<br>Interaction Design<br>iOS Prototype</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorLightGray">Description
                                </span>
                          
                                <span class="colorDarkGray">
                                    <p>
                                      With the positive feedback from the EXPO prototype, I was teamed up with a fellow visual design to work on mobile varients of heroes.epam.com and people.epam.com. These designs reflect the establishment of a common EPAM mobile visual language and styling that was used throughout several subsequent projects including SEC.  
                                    </p>

                                    <p class="pDown">Two different versions of the application were designed, one which followed the web offering, and a second shown here that included more social features.</p>
                                </span>
                        </div>
                        
              </div> <!-- End meta block display-->

  </div>


         

<div class="project_container_dark_gray">
    
      <a href="/images/fullsize/fullsize_sec.jpg" target="new"><img class="image" src="/images/sec_1.png" data-rimage data-src="/images/sec_1.png"></a>
      
      <div class="metablock clearfix"> <!-- meta block display -->
                
                <div class="projecttitle">
                  <p class="colorMiddleGray">Project</p>
                  <p class="colorLightGray">SEC</p>
                </div>
                <div class="projectengagement">
                  <p class="colorMiddleGray">Engagement</p>
                  <p class="colorLightGray">Visual Design<br />Interaction Design</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorMiddleGray">Description
                                </span>
                          
                                <span class="colorLightGray">
                                    <p>
                                      Right on the heels of the mobile experiences for Heroes and People, the SEC conference provided a larger audience for our new mobile applications initiative. This fall release of the application focused on the user experience surrounding ageneda management, session informantion, and live commenting throughout the conference.
                                    </p>

                                    <p class="pDown">As the first release of this app, the focus was on a single plaform, iOS, targeting the phone specificallys.</p>
                                <span>
                        </div>
                
      </div> <!-- End meta block display-->
    </div>


<!-- Aer Lingus -->

 <div class="light_project_container">
      <a href="/images/fullsize/fullsize_aerlingus.jpg" target="new"><img class="image" src="/images/aer_lingus.png" data-rimage data-src="/images/aer_lingus.png"></a>
          <div class="metablock clearfix"> <!-- meta block display -->
                          
                <div class="projecttitle">
                  <p class="colorLightGray">Project</p>
                  <p class="colorDarkGray">Aer Lingus</p>
                </div>
                <div class="projectengagement">
                  <p class="colorLightGray">Engagement</p>
                  <p class="colorDarkGray">Supplemental Visual Design<br>Interaction Design<br>iOS Prototype</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorLightGray">Description
                                </span>
                          
                                <span class="colorDarkGray">
                                    <p>
                                      One of the most exciting things I get to do is bring static designs to life on mobile devices. During a sales cycle with Aer Lingus, I was engaged to take some composites presented by the client, and craft a working demo. The iphone demo included operating screens for landing, boarding pass and ticketing experiences.
                                    </p>

                                    <p class="pDown">In addition to iPhone, I also worked up a version on iPad, extending their visual language onto a larger screen including a vision of an exploratory module designed to upsell travel packages.</p>
                                </span>
                        </div>
                        
              </div> <!-- End meta block display-->

  </div>









<!-- RE/mix -->
  
   <div class="project_container_deep_gray">
    
      <a href="/images/fullsize/fullsize_remix.jpg" target="new"><img class="image" src="/images/remix.png" data-rimage data-src="/images/remix.png"></a>
      
      <div class="metablock clearfix"> <!-- meta block display -->
                
                <div class="projecttitle">
                  <p class="colorMiddleGray">Project</p>
                  <p class="colorLightGray">RE/Mix</p>
                </div>
                <div class="projectengagement ">
                  <p class="colorMiddleGray">Engagement</p>
                  <p class="colorLightGray tall">Conceptualization</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorMiddleGray">Description
                                </span>
                          
                                <span class="colorLightGray">
                                    <p>
                                      At EPAM we have a deep culture of devleopment and delivery. We have engineers steeped in product and devleopment knowledge for every platform imaginable. We know how to build solutions. </p> <br></p>As time has moved on, however, we have also started to take note
                                      of the experience while operating these various products. To that end, the RE/Mix concept is a contest - not for engineers, but for designers. The idea is to employ a team of visualist to decend upon a brief and after an intenest work period, present a final product - ideally to a sponsored client. The term RE/Mix speaks to the idea of taking the current state of an experience and turning it on it's ear - pushing it's boundaries and exploring what could be accomplished without constraint.
                                    </p>

                                    <p class="pDown">This report evaluates how much time would be required, and what resources would be needed for a successful RE/Mix engagement.</p>
                                <span>
                        </div>
                
      </div> <!-- End meta block display-->
    </div>




<!-- SEC Project Schedule -->

 <div class="light_project_container">
      <a href="/images/fullsize/fullsize_sec_report.jpg" target="new"><img class="image" src="/images/sec_schedule_report.png" data-rimage data-src="/images/sec_schedule_report.png"></a>
          <div class="metablock clearfix"> <!-- meta block display -->
                          
                <div class="projecttitle">
                  <p class="colorLightGray">Project</p>
                  <p class="colorDarkGray">SEC Spring 2014</p>
                </div>
                <div class="projectengagement">
                  <p class="colorLightGray">Engagement</p>
                  <p class="colorDarkGray">Visual Design<br>Project Management</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorLightGray">Description
                                </span>
                          
                                <span class="colorDarkGray">
                                    <p>
                                      Reflecting upon the production and design issues encountered during the SEC Fall project, I took some time to evaluate the efficacy of the design process. This report analyzes the pros and cons of the intiiative. In short, a more modular approach would be used to define the SEC Spring experience, focusing on key differentials and important interactions. 
                                    </p>

                                    <p class="pDown">Also included in this report is a tentative schedule and division of labor between the available design resources assigned to the project. Also of note here is the departure from your typical report format. This document presents itself in a more visual manner, relying on imagery and an infographics look to illustrate its findings and display it's data.</p>
                                </span>
                        </div>
                        
              </div> <!-- End meta block display-->

  </div>



<!-- road -->


<div class="project_container_dark_gray">
    
      <a href="/images/fullsize/fullsize_road.jpg" target="new"><img class="image" src="/images/road.png" data-rimage data-src="/images/road.png"></a>
      
      <div class="metablock clearfix"> <!-- meta block display -->
                
                <div class="projecttitle">
                  <p class="colorMiddleGray">Project</p>
                  <p class="colorLightGray">EPAM Opensource Framework: Road</p>
                </div>
                <div class="projectengagement">
                  <p class="colorMiddleGray">Engagement</p>
                  <p class="colorLightGray">Visual Design<br />Interaction Design<br />HTML Production<br>Logo Design</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorMiddleGray">Description
                                </span>
                          
                                <span class="colorLightGray">
                                    <p>
                                      Advancing EPAM's open source initiative, this proposal is currently in development for publication to epam.com. These designs are meant to provide a marketing footprint for our Road framework for iOS, as well as provide development resources to developers such as reference material, code snippets and connections to download the framework.
                                    </p>

                                    <p class="pDown">As part of this presentation, I was also able to work up a complete brand for the Road framework, illustrated here by the custom road logo.</p>
                                <span>
                        </div>
                
      </div> <!-- End meta block display-->
    </div>



<!-- Chevron -->

 <div class="light_project_container">
      <a href="/images/fullsize/fullsize_chevron.jpg" target="new"><img class="image" src="/images/chevron.png" data-rimage data-src="/images/chevron.png"></a>
          <div class="metablock clearfix"> <!-- meta block display -->
                          
                <div class="projecttitle">
                  <p class="colorLightGray">Project</p>
                  <p class="colorDarkGray">Chevron Bussines Point</p>
                </div>
                <div class="projectengagement">
                  <p class="colorLightGray">Engagement</p>
                  <p class="colorDarkGray">Visual Design</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorLightGray">Description
                                </span>
                          
                                <span class="colorDarkGray">
                                    <p>
                                      Chevron Business Point was an international effort with interaction design from Philadelphia, visual design from Honolulu, and HTML production from Budapest. My small role here was to take existing designs for this survey application experience produced by our offshore team, and elevate them to better reflect contemporary mobile app design, as well as better represent the Chevron brand. These designs were to be incorporated into a live demo where our presentation would be evaluated by the Chevon team for subsequent engagements.
                                    </p>

                                    <p class="pDown">Designs produced covered versions for phone and tablet screen sizes, and were recieved quite well by the client team.</p>
                                </span>
                        </div>
                        
              </div> <!-- End meta block display-->

  </div>



<!-- EPAM Events -->


<div class="project_container_dark_gray">
    
      <a href="/images/fullsize/fullsize_events.jpg" target="new"><img class="image" src="/images/epam_events.png" data-rimage data-src="/images/epam_events.png"></a>
      
      <div class="metablock clearfix"> <!-- meta block display -->
                
                <div class="projecttitle">
                  <p class="colorMiddleGray">Project</p>
                  <p class="colorLightGray">EPAM Events</p>
                </div>
                <div class="projectengagement">
                  <p class="colorMiddleGray">Engagement</p>
                  <p class="colorLightGray">Visual Design<br />Interaction Design<br />iOS Prototyping</p>
                </div>
                        <div class="projectdescription">
                          
                                <span class="colorMiddleGray">Description
                                </span>
                          
                                <span class="colorLightGray">
                                    <p>
                                      My latest work involves the continuing evolution of the SEC conference platform into its own product for sale to clients. These interaction models consider how a user would engage archival content from previous conference events. In all, 8 different models were conceptualized over several days, with 2 selected for further refinement and interaction modeling.
                                    </p>

                                    <p class="pDown">The two designs at the bottom here were reviewed as the most tactile and immersive of the concepts. Included among my tasks for this week is the production of a live demo on iPad for one of these designs showcasing the interaction with conference data - which will be presented to an interested client next week.</p>
                                <span>
                        </div>
                
      </div> <!-- End meta block display-->
    </div>



<!-- Footer -->
  
   <div class="project_container_metal">
    
      <img class="image" src="/images/thanks.png" data-rimage data-src="/images/thanks.png">
      
      <div class="metablock clearfix postpad"> <!-- meta block display -->
                
               <p class="colorLightGray largeType">Thanks for taking the time to go through my most recent accomplishments. <p><br> <p class="colorLightGray largeType">It's been an exciting year of discovery and growth, which had jsut as many twists & turns, break-throughs and downfalls as a Stephen King novel. Continuing in this practice will allow me to further define what is becoming my new area of expertise: <strong>extended design<strong>. More than aesthetics, the process of extending design through technology takes into account how our designs are engaged - how they are brought to life and allowed to discover how a design impacts users experiences directly. The cornerstone of this all is constantly seek out new platforms. To follow the idea makers and shapers of our industry - a practice which I follow each day. </P><br /><p class="colorLightGray largeType">I look forward to your feedback and the opportunity to speak to you all about what you have seen and learned about my skills and capabilities, and how I may evolve to better serve EPAM Empathy Lab in the years yet to come.</p>
                
      </div> <!-- End meta block display-->


      

    </div>


  <script src="/javascripts/jquery-min.js"></script>
  <script src="/javascripts/rimages.js"></script>
</body>
</html>